/*

!.zshrc
!.tmux.conf
!.tmux.conf.bak
!.tmux.conf.local
!.gitignore
!.tmux/
!.config/aerospace/
!.config/btop/
!.config/fastfetch/
!.config/fish/
!.config/ghostty/
!.config/helix/
!.config/neofetch/
!.config/nvim/
!.config/skhd/
!.config/wezterm/
!.config/yazi/
!.config/zathura/
!.config/zed/
